@import "tailwindcss";

@font-face {
    font-family: "KaushanScript";
    src: url(./assets/fonts/KaushanScript-Regular.ttf), format("ttf");;
}

@theme{
    --font-kaushanScript : "KaushanScript";
}

